.fullScreenContainer {
    padding: 2rem;
    /* transform: translateY(-3%); */
    display: none;
}

.fullScreenContainer:nth-child(1) {
    display: block;
}

.container {
    /* margin-inline: auto; */
    max-width: 35rem;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.container > * {
    margin-block: .5rem;
}
.titleContainer img {
    width: 3.5em;
    height: 3.5em;
    transform: translateY(-10%);
}
.container button,
.container select {
    width: max-content;
    padding: .5em 1.5em;
    border: none;
    cursor: pointer;
}
.container select {
    border-radius: .25em;
    font-size: 1.35em;
    padding-inline: 1em;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    text-align: center;
    border: var(--stroke-width) solid var(--primary-color);
    color: var(--secondary-color);
    background-color: var(--light);
}
.container select option {
    font-size: .95em;
}

.alertText {
    color: var(--secondary-color);
    font-weight: 500;
    margin-block: .8rem 0;
}

.counter {
    font-weight: 700;
    font-size: 1.3em;
}

.slider {
    --size: 1em;
    font-size: 1.5em;
    height: var(--size);
    position: relative;
    max-width: 14em;
    width: 100%;
}
.btn, .bar {
    position: absolute;
    border-radius: .25em;
}
.btn {
    height: var(--size);
    width: var(--size);
    background: var(--secondary-color);
    z-index: 2;
    cursor: pointer;
}
.bar {
    width: 100%;
    opacity: .95;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    height: calc(var(--size) / 2);
    background: var(--primary-color);

}

.container button {
    font-size: 1.4em;
    background-color: var(--secondary-color);
    color: var(--light);
    border: var(--stroke-width) solid var(--secondary-color);
    border-radius: .25em;
    transition: all .2s ease-in-out;
    margin-top: .8rem;
}
.container button:hover,
.gameContainer button {
    background-color: transparent;
    color: var(--secondary-color);
}
.gameContainer {
    max-width: 50rem;
    position: relative;
}
.blinkBtn {
    animation: blink .5s ease-in-out .2s infinite;
}
@keyframes blink {
    50% {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
}
.gamePearsContainer {
    display: flex;
    margin-inline: auto;
}
.gamePear {
    --size: 3em;
    height: var(--size);
    width: var(--size);
}
.darkPear {
    filter: brightness(30%);
}

.word {
    font-weight: 500;
    font-size: 1.4em;
}
.word::before {
    content: open-quote;
}
.word::after {
    content: close-quote;
}
.wordsContainer {
    display: flex;
    gap: 0 1em;
    justify-content: center;
    flex-wrap: wrap;
}
.wordsContainer button {
    padding: .3em .5em;
}
.wrong {
    /* background-color: var(--primary-color) !important; */
    color: var(--primary-color) !important;
    border: var(--stroke-width) solid var(--primary-color) !important;
}
.good {
    background-color: var(--secondary-color) !important;
    color: var(--light) !important;
}

.endContainer {
    outline: .125em solid var(--state-color);
    padding: 1em 1.25em;
    border-radius: .4em;
}
.endContainer button {
    padding: .5em 1em;
}

.winGame {
    --state-color: var(--primary-color);
}
.endGame {
    --state-color: var(--secondary-color);
}

@media screen and (max-width: 450px) {
    .titleContainer h1 {
        font-size: 4.5em;
    }
    .container p {
        width: 80%;
        font-size: 1.4em;
    }
}
