.footerBox:nth-child(1) h3::after{
    transition-delay: 0s !important;
}
.footerBox:nth-child(1) a {
    text-decoration: underline;
    width: auto;
}
.footerBox:nth-child(1) a:focus-visible,
.footerBox:nth-child(1) a:hover {
    color: var(--contrast-color);
    outline: none;
}